[gcode_macro _EXTRUDER_OFFSET_ACTION_PRESTART]
gcode:
    # {action_respond_info("extruder offset action: prestart!")}
    SET_LED LED=cavity_led WHITE=1
    EXTRUDER_OFFSET_ACTION_PREHEAT
    EXTRUDER_OFFSET_ACTION_PREHOMING
    # EXTRUDER_OFFSET_ACTION_HEAT TOOL_ID=T0 HEAT_TEMP=200
    # EXTRUDER_OFFSET_ACTION_AUTO_CLEAN TOOL_ID=T0 SAFE_MOVE_Y_POS=250
    # EXTRUDER_OFFSET_ACTION_MANUAL_CLEAN TOOL_ID=T0
    # EXTRUDER_OFFSET_ACTION_WAIT_COOL TOOL_ID=T0 TEMP=140

    # EXTRUDER_OFFSET_ACTION_HEAT TOOL_ID=T1 HEAT_TEMP=200
    # EXTRUDER_OFFSET_ACTION_AUTO_CLEAN TOOL_ID=T1 SAFE_MOVE_Y_POS=250
    # EXTRUDER_OFFSET_ACTION_MANUAL_CLEAN TOOL_ID=T1
    # EXTRUDER_OFFSET_ACTION_WAIT_COOL TOOL_ID=T1 TEMP=140

    # EXTRUDER_OFFSET_ACTION_HEAT TOOL_ID=T2 HEAT_TEMP=200
    # EXTRUDER_OFFSET_ACTION_AUTO_CLEAN TOOL_ID=T2 SAFE_MOVE_Y_POS=250
    # EXTRUDER_OFFSET_ACTION_MANUAL_CLEAN TOOL_ID=T2
    # EXTRUDER_OFFSET_ACTION_WAIT_COOL TOOL_ID=T2 TEMP=140

    # EXTRUDER_OFFSET_ACTION_HEAT TOOL_ID=T3 HEAT_TEMP=200
    # EXTRUDER_OFFSET_ACTION_AUTO_CLEAN TOOL_ID=T3 SAFE_MOVE_Y_POS=250
    # EXTRUDER_OFFSET_ACTION_MANUAL_CLEAN TOOL_ID=T3
    # EXTRUDER_OFFSET_ACTION_WAIT_COOL TOOL_ID=T3 TEMP=140

    # EXTRUDER_OFFSET_ACTION_DETECT_PLATE PRESENCE=0

    # EXTRUDER_OFFSET_ACTION_PROBE_CALIBRATE TOOL_ID=T0
    # EXTRUDER_OFFSET_ACTION_PROBE_CALIBRATE TOOL_ID=T1
    # EXTRUDER_OFFSET_ACTION_PROBE_CALIBRATE TOOL_ID=T2
    # EXTRUDER_OFFSET_ACTION_PROBE_CALIBRATE TOOL_ID=T3

    # EXTRUDER_OFFSET_ACTION_EXIT

[gcode_macro _EXTRUDER_OFFSET_ACTION_PREHOMING]
variable_force_homing: True
gcode:
    # SAVE_GCODE_STATE NAME=after_prehoming
    # G90
    # G0 Z50 F500
    # RESTORE_GCODE_STATE NAME=after_prehoming
    # {action_respond_info("extruder offset action: prehoming!")}

[gcode_macro _DETECT_PLATE]
variable_hole_x: 13
variable_hole_y: 233
variable_hole_z: 3
variable_solid_x: 13
variable_solid_y: 220
variable_solid_z: 3
variable_delta_z: 1.1
variable_check_ok_lift_z: 5
variable_check_fail_lift_z: 150
variable_move_speed: 200
gcode:
    PROBE SAMPLES=2 SAMPLES_TOLERANCE=0.1
    # {action_respond_info("extruder offset action: detect_plate!")}

[gcode_macro _EXTRUDER_OFFSET_ACTION_PREHEAT]
gcode:
    {% set default_nozzle = 140 %}
    {% set nozzle_temps = {
        'T0': params.T0_TEMP|default(params.NOZZLE_TEMP|default(default_nozzle)),
        'T1': params.T1_TEMP|default(params.NOZZLE_TEMP|default(default_nozzle)),
        'T2': params.T2_TEMP|default(params.NOZZLE_TEMP|default(default_nozzle)),
        'T3': params.T3_TEMP|default(params.NOZZLE_TEMP|default(default_nozzle))
    } %}
    {% set bed_temp = params.BED_TEMP|default(55) %}
    M140 S{bed_temp}
    # { action_respond_info("Bed heating to %s°C" % bed_temp) }
    {% for tool in ['T0', 'T1', 'T2', 'T3'] %}
        M104 {tool} S{nozzle_temps[tool]} A0
        # { action_respond_info("%s heating to %s°C" % (tool, nozzle_temps[tool])) }
        {% if tool in ['T1', 'T2'] %}
            G4 P4000
        {% endif %}
    {% endfor %}
    SET_IDLE_TIMEOUT TIMEOUT={printer.configfile.settings.idle_timeout.timeout_on_pause}
    # {action_respond_info("extruder offset action: preheat!")}

[gcode_macro _EXTRUDER_OFFSET_ACTION_HEAT_T0]
gcode:
  {% set heat_temp = params.HEAT_TEMP|default(200)|float %}
  T0 A0
  MOVE_TO_DISCARD_FILAMENT_POSITION
  M109 T0 A0 S{heat_temp}

[gcode_macro _EXTRUDER_OFFSET_ACTION_HEAT_T1]
gcode:
  {% set heat_temp = params.HEAT_TEMP|default(200)|float %}
  T1 A0
  MOVE_TO_DISCARD_FILAMENT_POSITION
  M109 T1 A0 S{heat_temp}

[gcode_macro _EXTRUDER_OFFSET_ACTION_HEAT_T2]
gcode:
  {% set heat_temp = params.HEAT_TEMP|default(200)|float %}
  T2 A0
  MOVE_TO_DISCARD_FILAMENT_POSITION
  M109 T2 A0 S{heat_temp}

[gcode_macro _EXTRUDER_OFFSET_ACTION_HEAT_T3]
gcode:
  {% set heat_temp = params.HEAT_TEMP|default(200)|float %}
  T3 A0
  MOVE_TO_DISCARD_FILAMENT_POSITION
  M109 T3 A0 S{heat_temp}

[gcode_macro _EXTRUDER_OFFSET_ACTION_AUTO_CLEAN_T0]
gcode:
    {% set filament_soft = params.SOFT | default(0) | int %}
    {% set nozzle_diameter = params.NOZZLE_DIAMETER | default(0.4) | float %}

    T0 A0
    SAVE_GCODE_STATE NAME=auto_clean_t0
    MOVE_TO_DISCARD_FILAMENT_POSITION
    G90
    M204 S10000
    M83
    {% if nozzle_diameter < 0.3 %}
      {% if filament_soft == 0 %}
        G1 E30 F210
        G1 E-20 F360
      {% else %}
        G1 E5 F60
        G1 E-10 F360
      {% endif %}
    {% else %}
      {% if filament_soft == 0 %}
        G1 E30 F600
        G1 E-20 F1200
      {% else %}
        G1 E5 F120
        G1 E-10 F600
      {% endif %}
    {% endif %}
    INNER_CUTOFF_BASE_DISCARD
    INNER_ROUGHLY_CLEAN_NOZZLE_BASE_DISCARD ACTION=4
    INNER_DISCARD_FILAMENT_BASE_DISCARD
    MOVE_TO_XY_IDLE_POSITION_EXTRUDER
    RESTORE_GCODE_STATE NAME=auto_clean_t0

[gcode_macro _EXTRUDER_OFFSET_ACTION_AUTO_CLEAN_T1]
gcode:
    {% set filament_soft = params.SOFT | default(0) | int %}
    {% set nozzle_diameter = params.NOZZLE_DIAMETER | default(0.4) | float %}

    T1 A0
    SAVE_GCODE_STATE NAME=auto_clean_t1
    MOVE_TO_DISCARD_FILAMENT_POSITION
    G90
    M204 S10000
    M83
    {% if nozzle_diameter < 0.3 %}
      {% if filament_soft == 0 %}
        G1 E30 F210
        G1 E-20 F360
      {% else %}
        G1 E5 F60
        G1 E-10 F360
      {% endif %}
    {% else %}
      {% if filament_soft == 0 %}
        G1 E30 F600
        G1 E-20 F1200
      {% else %}
        G1 E5 F120
        G1 E-10 F600
      {% endif %}
    {% endif %}
    INNER_CUTOFF_BASE_DISCARD
    INNER_ROUGHLY_CLEAN_NOZZLE_BASE_DISCARD ACTION=4
    INNER_DISCARD_FILAMENT_BASE_DISCARD
    MOVE_TO_XY_IDLE_POSITION_EXTRUDER
    RESTORE_GCODE_STATE NAME=auto_clean_t1

[gcode_macro _EXTRUDER_OFFSET_ACTION_AUTO_CLEAN_T2]
gcode:
    {% set filament_soft = params.SOFT | default(0) | int %}
    {% set nozzle_diameter = params.NOZZLE_DIAMETER | default(0.4) | float %}

    T2 A0
    SAVE_GCODE_STATE NAME=auto_clean_t2
    MOVE_TO_DISCARD_FILAMENT_POSITION
    M204 S10000
    G90
    M83
    {% if nozzle_diameter < 0.3 %}
      {% if filament_soft == 0 %}
        G1 E30 F210
        G1 E-20 F360
      {% else %}
        G1 E5 F60
        G1 E-10 F360
      {% endif %}
    {% else %}
      {% if filament_soft == 0 %}
        G1 E30 F600
        G1 E-20 F1200
      {% else %}
        G1 E5 F120
        G1 E-10 F600
      {% endif %}
    {% endif %}
    INNER_CUTOFF_BASE_DISCARD
    INNER_ROUGHLY_CLEAN_NOZZLE_BASE_DISCARD ACTION=4
    INNER_DISCARD_FILAMENT_BASE_DISCARD
    MOVE_TO_XY_IDLE_POSITION_EXTRUDER
    RESTORE_GCODE_STATE NAME=auto_clean_t2

[gcode_macro _EXTRUDER_OFFSET_ACTION_AUTO_CLEAN_T3]
gcode:
    {% set filament_soft = params.SOFT | default(0) | int %}
    {% set nozzle_diameter = params.NOZZLE_DIAMETER | default(0.4) | float %}

    T3 A0
    SAVE_GCODE_STATE NAME=auto_clean_t3
    MOVE_TO_DISCARD_FILAMENT_POSITION
    G90
    M204 S10000
    M83
    {% if nozzle_diameter < 0.3 %}
      {% if filament_soft == 0 %}
        G1 E30 F210
        G1 E-20 F360
      {% else %}
        G1 E5 F60
        G1 E-10 F360
      {% endif %}
    {% else %}
      {% if filament_soft == 0 %}
        G1 E30 F600
        G1 E-20 F1200
      {% else %}
        G1 E5 F120
        G1 E-10 F600
      {% endif %}
    {% endif %}
    INNER_CUTOFF_BASE_DISCARD
    INNER_ROUGHLY_CLEAN_NOZZLE_BASE_DISCARD ACTION=4
    INNER_DISCARD_FILAMENT_BASE_DISCARD
    MOVE_TO_XY_IDLE_POSITION_EXTRUDER
    RESTORE_GCODE_STATE NAME=auto_clean_t3

[gcode_macro _EXTRUDER_OFFSET_ACTION_MANUAL_CLEAN_T0]
gcode:
    # EXTRUDER_OFFSET_ACTION_CHECK_TARGET_TEMP HEATER=extruder
    T0 A0
    SAVE_GCODE_STATE NAME=manual_clean_t0
    G90
    G0 Z150 F12000
    G0 X135 Y5 F12000
    RESTORE_GCODE_STATE NAME=manual_clean_t0
    # {action_respond_info("extruder offset action: manual_clean_t0!")}

[gcode_macro _EXTRUDER_OFFSET_ACTION_MANUAL_CLEAN_T1]
gcode:
    # EXTRUDER_OFFSET_ACTION_CHECK_TARGET_TEMP HEATER=extruder1
    T1 A0
    SAVE_GCODE_STATE NAME=manual_clean_t1
    G90
    G0 Z150 F12000
    G0 X135 Y5 F12000
    RESTORE_GCODE_STATE NAME=manual_clean_t1
    # {action_respond_info("extruder offset action: manual_clean_t1!")}

[gcode_macro _EXTRUDER_OFFSET_ACTION_MANUAL_CLEAN_T2]
gcode:
    # EXTRUDER_OFFSET_ACTION_CHECK_TARGET_TEMP HEATER=extruder2
    T2 A0
    SAVE_GCODE_STATE NAME=manual_clean_t2
    G90
    G0 Z150 F12000
    G0 X135 Y5 F12000
    RESTORE_GCODE_STATE NAME=manual_clean_t2
    # {action_respond_info("extruder offset action: manual_clean_t2!")}

[gcode_macro _EXTRUDER_OFFSET_ACTION_MANUAL_CLEAN_T3]
gcode:
    # EXTRUDER_OFFSET_ACTION_CHECK_TARGET_TEMP HEATER=extruder3
    T3 A0
    SAVE_GCODE_STATE NAME=manual_clean_t3
    G90
    G0 Z150 F12000
    G0 X135 Y5 F12000
    RESTORE_GCODE_STATE NAME=manual_clean_t3
    # {action_respond_info("extruder offset action: manual_clean_t3!")}

[gcode_macro _EXTRUDER_OFFSET_ACTION_WAIT_COOL_T0]
gcode:
    {% set temp = params.TEMP|default(130)|float %}
    SAVE_GCODE_STATE NAME=wait_cool_t0
    SET_FAN_SPEED FAN=cavity_fan SPEED=1
    M106 S255
    G90
    G0 X5 Y140 F12000
    M109 T0 A0 S{temp}
    SET_FAN_SPEED FAN=cavity_fan SPEED=0
    M106 S0
    RESTORE_GCODE_STATE NAME=wait_cool_t0

[gcode_macro _EXTRUDER_OFFSET_ACTION_WAIT_COOL_T1]
gcode:
    {% set temp = params.TEMP|default(130)|float %}
    SAVE_GCODE_STATE NAME=wait_cool_t1
    SET_FAN_SPEED FAN=cavity_fan SPEED=1
    M106 S255
    G90
    G0 X5 Y140 F12000
    M109 T1 A0 S{temp}
    SET_FAN_SPEED FAN=cavity_fan SPEED=0
    M106 S0
    RESTORE_GCODE_STATE NAME=wait_cool_t1

[gcode_macro _EXTRUDER_OFFSET_ACTION_WAIT_COOL_T2]
gcode:
    {% set temp = params.TEMP|default(130)|float %}
    SAVE_GCODE_STATE NAME=wait_cool_t2
    SET_FAN_SPEED FAN=cavity_fan SPEED=1
    M106 S255
    G90
    G0 X5 Y140 F12000
    M109 T2 A0 S{temp}
    SET_FAN_SPEED FAN=cavity_fan SPEED=0
    M106 S0
    RESTORE_GCODE_STATE NAME=wait_cool_t2

[gcode_macro _EXTRUDER_OFFSET_ACTION_WAIT_COOL_T3]
gcode:
    {% set temp = params.TEMP|default(130)|float %}
    SAVE_GCODE_STATE NAME=wait_cool_t3
    SET_FAN_SPEED FAN=cavity_fan SPEED=1
    M106 S255
    G90
    G0 X5 Y140 F12000
    M109 T3 A0 S{temp}
    SET_FAN_SPEED FAN=cavity_fan SPEED=0
    M106 S0
    RESTORE_GCODE_STATE NAME=wait_cool_t3

[gcode_macro EXTRUDER_OFFSET_ACTION_PROBE_CALIBRATE_ALL]
gcode:
    EXTRUDER_OFFSET_ACTION_PROBE_CALIBRATE TOOL_ID=T0
    EXTRUDER_OFFSET_ACTION_PROBE_CALIBRATE TOOL_ID=T1
    EXTRUDER_OFFSET_ACTION_PROBE_CALIBRATE TOOL_ID=T2
    EXTRUDER_OFFSET_ACTION_PROBE_CALIBRATE TOOL_ID=T3
    G90
    G1 Z150 F1800

[gcode_macro _EXTRUDER_OFFSET_ACTION_PROBE_CALIBRATE_T0]
gcode:
  {% set move = params.MOVE|default(0)|int %}
  T0 A0
  XYZ_OFFSET_CALIBRATE
  {% if "xyz" in printer.toolhead.homed_axes and move%}
    G90
    G1 Z150 F1800
  {% endif %}

[gcode_macro _EXTRUDER_OFFSET_ACTION_PROBE_CALIBRATE_T1]
gcode:
  {% set move = params.MOVE|default(0)|int %}
  T1 A0
  XYZ_OFFSET_CALIBRATE
  {% if "xyz" in printer.toolhead.homed_axes and move%}
    G90
    G1 Z150 F1800
  {% endif %}

[gcode_macro _EXTRUDER_OFFSET_ACTION_PROBE_CALIBRATE_T2]
gcode:
  {% set move = params.MOVE|default(0)|int %}
  T2 A0
  XYZ_OFFSET_CALIBRATE
  {% if "xyz" in printer.toolhead.homed_axes and move%}
    G90
    G1 Z150 F1800
  {% endif %}

[gcode_macro _EXTRUDER_OFFSET_ACTION_PROBE_CALIBRATE_T3]
gcode:
  {% set move = params.MOVE|default(1)|int %}
  T3 A0
  XYZ_OFFSET_CALIBRATE
  {% if "xyz" in printer.toolhead.homed_axes and move%}
    G90
    G1 Z150 F1800
  {% endif %}

[gcode_macro _EXTRUDER_OFFSET_ACTION_EXIT]
gcode:
  {% set move = params.MOVE|default(1)|int %}
  TURN_OFF_HEATERS
  SET_IDLE_TIMEOUT TIMEOUT={printer.configfile.settings.idle_timeout.timeout}
  {% if "xyz" in printer.toolhead.homed_axes and move%}
    G90
    G1 Z150 F1800
  {% endif %}

[gcode_macro XYZ_OFFSET_CALIBRATE]
gcode:
  PROBE_XYZ_OFFSET_CALIBRATE  Z_PROBE_Y_MOVE_OFFSET=-1 SAMPLE_RETRACT_DIST=1 SAMPLES_AXIS=1 SAMPLE_DIR=1 PROBE_FAST_SPEED=2 PROBE_SPEED=2 SAMPLE_DIST=20 SAMPLES_TOLERANCE=0.02 SAMPLES_TOLERANCE_RETRIES=10 SAMPLES=3 HORIZONTAL_MOVE_X=13 HORIZONTAL_MOVE_Y=234.5 HORIZONTAL_MOVE_Z=2 RETRACT_Z_HIGHT=0.7 SAMPLE_TRIG_FREQ=450 PROBE_XYZ_MODE=1 HORIZONTAL_DIST=5 PROBE_POINTS=10 WAIT_BEFORE_SETUP=0.1 WAIT_AFTER_SETUP=0.05 SAVE_INFO=1

[gcode_macro XYZ_OFFSET_CALIBRATE_ALL]
gcode:
  T0 A0
  G90
  G0 Z2 F1200
  XYZ_OFFSET_CALIBRATE
  T1 A0
  XYZ_OFFSET_CALIBRATE
  T2 A0
  XYZ_OFFSET_CALIBRATE
  T3 A0
  XYZ_OFFSET_CALIBRATE
  EXTRUDER_OFFSET_ACTION_SAVE_RESULT FORCE_SAVE=0
